/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}
.float_left {
  float: left;
}
.float_right {
  float: right;
}
.clear {
  clear: both;
}